<?php

//Unit Details
$groupname = "";
$groupsite = "sitename.com"; //don't include http:// or www. This service is designed for subdomains so "http://missions.sitename.com"
$groupdiscord = "https://discord.gg/INVITECODE";

//MySQL Login credentials, use what you set in setup.sql
$servername = "127.0.0.1";
$username = "USERNAME";
$password = "PASSWORD";
$dbname = "DBNAME";
$charset = "utf8";

//Directories
$missionsdir = "C:/dir/to/Arma/MPMissions/";
$brokendir = "C:/dir/to/Broken/";
$deleteddir = "C:/dir/to/Delete/";
$RPTdir = "C:/dir/to/RPT/";

//change this to reflect the servers that you want to query
$servers = array(
	array(
		'id' => 'SRV1',
		'type' => 'armedassault3',
		'host' => '0.0.0.0:2302',
	)
);

?>
